nav{
    height: 75px;
    width: 100vw;
    box-shadow: 0px 1px 1px 1px rgba(233, 231, 231, 0.678);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    margin-right: 100px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links a{
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links a:hover{
    background-color: rgba(211, 211, 211, 0.308);
}
.logo{
    margin-left: 100px;
    height: 80%;
    width: auto;
}
