nav{
    height: 75px;
    width: 100vw;
    box-shadow: 0px 1px 1px 1px rgba(233, 231, 231, 0.678);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    margin-right: 100px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links a{
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links a:hover{
    background-color: rgba(211, 211, 211, 0.308);
}
.logo{
    margin-left: 100px;
    height: 80%;
    width: auto;
}
.nav-icon{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 30px;
    top: 25px;
    background-image: url('../images/menu.png');
    background-position: center;
    background-size: contain;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width: 1000px) {

    .nav-links{
        width: 100vw;
        height: 400px;
        position: absolute;
        top: 75px;
        flex-direction: column;
        background-color: white;
        transform: scaleY(0);
        transform-origin: top;
        transition: all 0.3s;

    }
    .nav-links a{
        width: 100%;
    }
    .nav-icon{
        display: block;
    }
    .show{   
        transform: scaleY(1);
        transition: all 0.3s;
    }

    .logo{
        margin-left: 25px;
    }

}
